extends layout

block content
  // Header Start
  div.container-xxl
    div(class="container-fluid header bg-white p-0")
      div(class="row g-0 align-items-center flex-column-reverse flex-md-row")
        div(class="col-md-6 p-5 mt-lg-5")
          h1(class="display-5 wow animate__animated animate__fadeIn mb-4" data-wow-delay="0.1s") Find A 
            span(class="text-primary") Perfect Government Job 
            span To Live With Your Family
          p(class="animate__animated animate__fadeIn mb-4 pb-2") Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.
          a(href="" class="btn btn-primary py-3 px-5 me-3") Get Started
        div(class="col-md-6 green-border wow animate__animated animate_fadeIn" data-wow-delay="0.1s")
          div(class="position-relative overflow-hidden p-5 pe-0")
            img(class="img-fluid w-100" src="/images/job.jpg")
    // Header End
  
  //About Start
  div(class="container-xxl py-5 bg-white")
    div(class="container")
      div(class="row g-5 align-items-center")
        div(class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay="0.1s")
          div(class="about-img position-relative overflow-hidden p-5 pe-0")
            img(class="img-fluid w-100" src="/images/exam_desktop_br.png")
        div(class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay="0.5s")
          h1(class="mb-4") #1 Place To Find The Perfect Property
          p(class="mb-4") Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
          p
            i(class="fa fa-check text-primary me-3") Tempor erat elitr rebum at clita
          p 
            i(class="fa fa-check text-primary me-3") Aliqu diam amet diam et eos
          p 
            i(class="fa fa-check text-primary me-3") Clita duo justo magna dolore erat amet
          a(class="btn btn-primary py-3 px-5 mt-3" href="") Read More
  // About End

  // Job Listing Start
  div(class='containeer-xxl py-4 bg-white')
    div(class='container')
      div(class='row g-0 gx-5 align-items-end')
        div(class='col-lg-6')
          div(class='text-start mx-auto mb-5 wow animate__animated animate__slideInLeft' data-wow-delay='0.1s')
            h1(class="mb-3") Job Listing 
            p Following jobs have been advertised by Jammu and Kashmir Service Selection Board and the Jammu and Kashmir Public Service Commissiion for you to compete in. Apply now to get your dream job.
        div(class="col-lg-6 text-start text-lg-end wow animate__animated animate__slideInRight" data-wow-delay="0.1s")
          ul(class="nav nav-pills d-inline-flex justify-content-end mb-5")
            li(class="nav-item me-2")
              a(class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1") Featured
            li(class="nav-item me-2")
              a(class="btn btn-outline-primary" data-bs-toggle="pill" href="#jkssb_exam") JKSSB
            li(class="nav-item me-0")
              a(class="btn btn-outline-primary" data-bs-toggle="pill" href="#jkpsc_exam") JKPSC
      
  div(class="container-xxl py-4 bg-white")
    div(class="container")
          div(class="tab-content")
            div(id="tab-1" class="tab-pane fade show p-0 active")
              each exam in exams
                if exam.body === 'jkssb'
                  - var tab_id = 'jkssb_exam' 
                else 
                  - var tab_id = 'jkpsc_exam'
                div(class="job-item p-4 mb-4" id=tab_id )
                  div(class="row g-4")
                      div(class="col-sm-12 col-md-7 wow animate__animated animate__fadeInUp" data-wow-delay="0.1s")
                          div.row 
                            div.col-md-3.text-center
                              if exam.body === 'jkssb'
                                img(class="flex-shrink-0 img-fluid" src="/images/jkssb.png" alt="" style={width: '100px', height: '100px'})
                              else 
                                img(class="flex-shrink-0 img-fluid" src="/images/jkpsc.png" alt="" style={width: '100px', height: '100px'})
                            div(class="col-md-9 text-start")
                              h6(class="mb-3 text-uppercase")= exam.name
                                sup 
                                  i(class="fa-solid fa-indian-rupee-sign")
                                  span.text-primary= exam.price
                              
                              i(class="fa-regular fa-money-bill-1 text-primary me-2")
                              span(class='text-primary text-uppercase me-3') Topper Prize
                              i(class="fa-solid fa-indian-rupee-sign")= exam.topper_prize
                            
                        
                      div(class="col-sm-12 col-md-5 wow animate__animated animate__slideInLeft" data-wow-delay= "0.1s")
                          div(class="row")
                            div.col.d-flex.flex-row.justify-content-end
                              - var url = '/signupandpay/'+ exam.name + '/' + exam.price
                              
                              a(class="btn btn-light btn-square me-3" href=url)
                                i(class="far fa-heart text-primary")
      
                              a(class="btn btn-primary" href=url) Register Now
                                sup
                                  i(class='fa-solid fa-indian-rupee-sign')= exam.price
                              
                          div.col.mt-2
                            div.row 
                              div.col-lg-6.text-lg-end
                                i(class="far fa-calendar-alt text-primary me-1")
                                - const exam_date = parseInt(exam.date)
                                - let date = new Date(exam_date);
                                - const year = date.getFullYear();
                                - const month = date.getMonth() + 1;
                                - const day = date.getDate(); 
                                - date = day.toString()+"/"+month.toString()+"/"+year.toString()
                                span.text-uppercase='Date: '+ date
                              div.col-lg-6.text-lg-end
                                i(class="fa-regular fa-clock text-primary me-1") 
                                span.text-uppercase='Time: '+ exam.time
  // Job Listing End
