extends layout

block content
  // Header Start
  div.container-xxl
    div(class="container-fluid header bg-white p-0")
      div(class="row g-0 align-items-center flex-column-reverse flex-md-row")
        div(class="col-md-6 p-5 mt-lg-5")
          h1(class="display-5 text-capitalize wow animate__animated animate__slideInLeft mb-4" data-wow-delay="0.1s") Find A 
            span(class="text-primary") Perfect Government Job 
            span To Live With Your Family And Win Big Rewards
          
        div(class="col-md-6 wow animate__animated animate_fadeIn" data-wow-delay="0.1s")
          div(class="about-img position-relative overflow-hidden p-5 pe-0")
            img(class="img-fluid w-100" src="/images/exam_desktop_br.png")
    // Header End
  
  
  // Job Listing Start
  div(class='containeer-xxl py-2 bg-white')
    div(class='container')
      div(class='row g-0 align-items-end')
        div(class='col-md-7')
          div(class='text-start mx-auto mb-2 wow animate__animated animate__slideInLeft' data-wow-delay='0.1s')
            h1.text-capitalize Competitive 
              span.text-primary Examinations 
        div(class="col-md-5 text-start text-lg-end wow animate__animated animate__slideInRight" data-wow-delay="0.1s")
          ul(class="nav nav-pills d-inline-flex justify-content-end mb-2")
            li(class="nav-item me-2")
              a(class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1") Featured
            li(class="nav-item me-2")
              a(class="btn btn-outline-primary" data-bs-toggle="pill" href="#jkssb_exam") JKSSB
            li(class="nav-item me-0")
              a(class="btn btn-outline-primary" data-bs-toggle="pill" href="#jkpsc_exam") JKPSC
      
  div(class="container-xxl py-4 bg-white")
    div(class="container")
          div(class="tab-content")
            div(id="tab-1" class="tab-pane fade show p-0 active")
              each exam in exams
                if exam.body === 'jkssb'
                  - var tab_id = 'jkssb_exam' 
                else 
                  - var tab_id = 'jkpsc_exam'
                div(class="job-item p-4 mb-4" id=tab_id )
                  div(class="row g-4")
                      div(class="col-sm-12 col-md-7 wow animate__animated animate__fadeInUp" data-wow-delay="0.1s")
                          div.row 
                            div.col-md-3.text-center
                              if exam.body === 'jkssb'
                                img(class="flex-shrink-0 img-fluid" src="/images/jkssb.png" alt="" style={width: '100px', height: '100px'})
                              else 
                                img(class="flex-shrink-0 img-fluid" src="/images/jkpsc.png" alt="" style={width: '100px', height: '100px'})
                            div(class="col-md-9 text-start")
                              h6(class="mb-3 text-uppercase")= exam.name
                                sup 
                                  i(class="fa-solid fa-indian-rupee-sign")
                                  span.text-primary= exam.price
                              
                              i(class="fa-regular fa-money-bill-1 text-primary me-2")
                              span(class='text-primary text-uppercase me-3') Topper Prize
                              i(class="fa-solid fa-indian-rupee-sign")= exam.topper_prize
                            
                        
                      div(class="col-sm-12 col-md-5 wow animate__animated animate__slideInLeft" data-wow-delay= "0.1s")
                          div(class="row")
                            div.col.d-flex.flex-row.justify-content-end
                              - var url = '/signupandpay/'+ exam.name + '/' + exam.price
                              
                              a(class="btn btn-light btn-square me-3" href=url)
                                i(class="far fa-heart text-primary")
      
                              a(class="btn btn-primary" href=url) Register Now
                                sup
                                  i(class='fa-solid fa-indian-rupee-sign')= exam.price
                              
                          div.col.mt-2
                            div.row 
                              div.col-lg-6.text-lg-end
                                i(class="far fa-calendar-alt text-primary me-1")
                                - const exam_date = parseInt(exam.date)
                                - let date = new Date(exam_date);
                                - const year = date.getFullYear();
                                - const month = date.getMonth() + 1;
                                - const day = date.getDate(); 
                                - date = day.toString()+"/"+month.toString()+"/"+year.toString()
                                span.text-uppercase='Date: '+ date
                              div.col-lg-6.text-lg-end
                                i(class="fa-regular fa-clock text-primary me-1") 
                                span.text-uppercase='Time: '+ exam.time
  // Job Listing End
